.p{
    color:rgb(220, 220, 238);
    background-color:rgb(150, 82, 133);
    font-size:32px;
}
.h1{
    color:rgb(4, 9, 58);
    border:0.5px dashed rgb(161, 13, 38);
}
.p2{
    color:rgb(12, 5, 73)
}
.p3{
    color:rgb(219, 233, 218);
    background-color:rgb(9, 112, 78);
    font-size:20px;
}
.p4{
    color:rgb(78, 55, 4);
    background-color:rgb(149, 158, 142);
}
body{
    background-color:rgb(180, 133, 89);
}